<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <parameter name="browsername" value="firefox"></parameter>
    <classes>
      <class name="testNg.Testclass1"/>
      <class name="projectclassses.AddtocartTestclass"/>
      <class name="testNg.Testngclass1"/>
      <class name="testNg.Assertion"/>
      <class name="projectclassses.Logouttestcaseclass"/>
      <class name="projectclassses.TestcaseclassLogin"/>
      <class name="testNg.Testnganootaions"/>
      <class name="testNg.Testbaseclass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
